{% load static %}
{% block menu %}  {# джанговская тема для выбода меню, чтобы информация их функций views.py попадала на HTML #}{#    <nav class="container mt-3">#}
    {% include 'clinic/includes/block_menu.html' %}
{% endblock menu %}{# конец блока меню, пишется обязательно #}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
    <div class="col-sm-4 p-3 bg-primary text-white">

        {% for i in record %}
            <p>Пациент: {{ i.pet.first }}.</p>
            <p>Врач: {{ i.veterinarian.first }}</p>
            <p>Дата: {{ i.data }}</p>
            <p>Время: {{ i.time }}</p>

        {% endfor %}

    </div>
    <div class="col-sm-8 p-3 bg-dark text-white">



    </div>
  </div>
</div>
{% endblock content %}