{% load static %}
{% block menu %}  {# джанговская тема для выбода меню, чтобы информация их функций views.py попадала на HTML #}{#    <nav class="container mt-3">#}
    {% include 'clinic/includes/block_menu.html' %}
{% endblock menu %}{# конец блока меню, пишется обязательно #}

<link rel="stylesheet" href="{% static 'css/index.css' %}">

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
    <div class="col-sm-4 p-3 bg-primary text-white">

        <img src="{% static 'clinic/img/logo_link/logo1.png' %}" alt="Foto logo" width="150px">
        <hr>
            <h2>Регистрация</h2>
{#    <form action="" method="post" novalidate>#}
    <form action="" method="post" enctype="multipart/form-data"> {# параметры обязательные чтобы происходила загрузка на сервер#}
        {% csrf_token %}
            <table>
                {{ form }}
            </table>
        <input type="submit" value="Отправить">
    </form>

    </div>
    <div class="col-sm-8 p-3 bg-dark text-white">
        <img src="{% static 'clinic/img/logo_link/noi.png' %}" alt="Foto logo" width="400" id="noi">
    </div>
  </div>
</div>
{% endblock content %}
