{# шаблон для информационного собщения что пароль изменен  #}

{% load static %}
{% block menu %}  {# джанговская тема для выбода меню, чтобы информация их функций views.py попадала на HTML #}{#    <nav class="container mt-3">#}
    {% include 'clinic/includes/block_menu.html' %}
{% endblock menu %}{# конец блока меню, пишется обязательно #}

{% block content %}
<div class="container-fluid mt-3">
    <div class="row">
    <div class="col-sm-4 p-3 bg-primary text-white">

    <img src="{% static 'clinic/img/logo_link/logo1.png' %}" alt="Foto logo" width="150px">

    <h2>Пароль изменен</h2>

    <p>Поздравляем! Вы успешно изменили пароль своего аккаунта. Используйте его для
        <a href="{% url 'users:login' %}">входа в систему.</a></p>


    </div>
    <div class="col-sm-8 p-3 text-white">
{#        <img src="{% static 'clinic/img/logo_link/noi.png' %}" alt="Foto logo" width="400" id="noi">#}

    </div>
  </div>
</div>
{% endblock content %}
